In [1]:
import pandas as pd
import numpy as np
import re
import nltk

In [2]:
text= "Tokenization is the first step in text analytics. The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization."
print('The given sentences are: \n', text)

The given sentences are:
 Tokenization is the first step in text analytics. The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization.

In [3]:
from nltk.tokenize import sent_tokenize
token_text = sent_tokenize(text)
print(token_text)

['Tokenization is the first step in text analytics.', 'The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization.']

In [4]:
from nltk.tokenize import word_tokenize
token_word = word_tokenize(text)
print(token_word)

['Tokenization', 'is', 'the', 'first', 'step', 'in', 'text', 'analytics', '.', 'The', 'process', 'of', 'breaking', 'down', 'a', 'text', 'paragraph', 'into', 'smaller', 'chunks', 'such', 'as', 'words', 'or', 'sentences', 'is', 'called', 'Tokenization', '.']

In [5]:
# Add code for POS Tagging
from nltk.corpus import stopwords
stop_words = set(stopwords.words("english"))

In [6]:
text= "How to remove stop words with NLTK library in Python?"

In [7]:
text = re.sub('[^A-Za-z]',' ',text)

In [8]:
tokens = word_tokenize(text.lower())

In [9]:
filterd_text=[]
for i in tokens:
    if i not in stop_words:
        filterd_text.append(i)
print("complete text",tokens)
print("filtered text ",filterd_text)

complete text ['how', 'to', 'remove', 'stop', 'words', 'with', 'nltk', 'library', 'in', 'python']
filtered text  ['remove', 'stop', 'words', 'nltk', 'library', 'python']

In [10]:
from nltk.stem import PorterStemmer
e_words =["eat", "eating", "eated","waits","waiting"]
ps = PorterStemmer()
for i in e_words:
    rootword = ps.stem(i)
    print("steming for ",rootword)

steming for  eat
steming for  eat
steming for  eat
steming for  wait
steming for  wait

In [11]:
from nltk.stem import WordNetLemmatizer

words =["eat", "eating", "eated","waits","waiting","study","studing","cries","choot"]
lm = WordNetLemmatizer()
for i in words:
    rootword=lm.lemmatize(i)
    print(rootword)

eat
eating
eated
wait
waiting
study
studing
cry
choot

In [12]:
#Lemmatization
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
text = "studies studying cries cry cried "
tokenization = nltk.word_tokenize(text)
for w in tokenization:
    print("Lemma for {} is {}".format(w,
    wordnet_lemmatizer.lemmatize(w)))

Lemma for studies is study
Lemma for studying is studying
Lemma for cries is cry
Lemma for cry is cry
Lemma for cried is cried

In [18]:
# Import required libraries
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

# Sample documents
documents = [
    "The sky is blue",
    "The sun is bright",
    "The sun in the sky is bright",
    "We can see the shining sun, the bright sun"
]

# Create TfidfVectorizer object
tfidf_vectorizer = TfidfVectorizer()

# Apply TF-IDF to documents
tfidf_matrix = tfidf_vectorizer.fit_transform(documents)

# Get feature (word) names
feature_names = tfidf_vectorizer.get_feature_names_out()

# Convert the matrix to a pandas DataFrame for readability
df_tfidf = pd.DataFrame(tfidf_matrix.toarray(), columns=feature_names)

# Show TF-IDF matrix
print("TF-IDF Matrix:")
display(df_tfidf)

TF-IDF Matrix:

,blue,bright,can,in,is,see,shining,sky,sun,the,we
0,0.659191,0.000000,0.000000,0.000000,0.420753,0.000000,0.000000,0.519714,0.000000,0.343993,0.000000
1,0.000000,0.522109,0.000000,0.000000,0.522109,0.000000,0.000000,0.000000,0.522109,0.426858,0.000000
2,0.000000,0.321846,0.000000,0.504235,0.321846,0.000000,0.000000,0.397544,0.321846,0.526261,0.000000
3,0.000000,0.239102,0.374599,0.000000,0.000000,0.374599,0.374599,0.000000,0.478204,0.390963,0.374599

In [14]:
# Get IDF values for each term
idf_values = tfidf_vectorizer.idf_

idf_df = pd.DataFrame({'Term': feature_names, 'IDF': idf_values})


print("IDF values:")
display(idf_df)

IDF values:

       Term       IDF
0      blue  1.916291
1    bright  1.223144
2       can  1.916291
3        in  1.916291
4        is  1.223144
5       see  1.916291
6   shining  1.916291
7       sky  1.510826
8       sun  1.223144
9       the  1.000000
10       we  1.916291